@-webkit-keyframes example {
    0%   {margin-top: 2px}
    25%  {margin-right: 0px}
    50%  {margin-left: -34px}
    100% {margin-top: 4px}
}

@keyframes example {
    0%   {margin-top: 2px}
    25%  {margin-right: 0px}
    50%  {margin-left: -34px}
    100% {margin-top: 4px}
}