@-webkit-keyframes example {
    0%   {margin-top: 2px}
    25%  {margin-right: 0px}
    50%  {margin-left: -34px}
    100% {margin-top: 4px}
}

@keyframes example {
    0%   {margin-top: 2px; opacity: 0.4}
    25%  {margin-right: 0px; opacity: 1}
    50%  {margin-left: -34px; opacity: 1}
    100% {margin-top: 4px; opacity 0.4}
}